#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      = image_tag "logo.jpg", class: "logo"
      %h2 アカウントの新規作成
      .account-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            .field-label
              = f.label :name, "ユーザーネーム"
              .field-input
                = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-input"
            .field-area
              .field-label
                = f.label :sex, "性別"
                .field-input
                  = f.label :"男性", class: "sex-btn"
                  = f.radio_button :sex, 0, class: "sex-btn"
                  = f.label :"女性", class: "sex-btn"
                  = f.radio_button :sex, 1, class: "sex-btn"
              .field-bithday
                = f.label :birthday, "誕生日"
                .field-bithday-input
                != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
            .field-label
              = f.label :email, "メールアドレス"
              .field-input
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input"
            .field
              .field-label
                = f.label :password, "パスワード"
                - if @minimum_password_length
                  (#{@minimum_password_length} characters minimum)
                .field-input
                  = f.password_field :password, autocomplete: "new-password", class: "form-input"
              .field
                = f.label :password_confirmation, "パスワード(確認用)"
                .field-input
                  = f.password_field :password_confirmation, autocomplete: "new-password"
              .action
                .action-input
                  = f.submit "アカウントの新規作成", class: "btn"