.tounament-advertising
  大会の広告欄

.tournament-content
  .tournament-content__detail
    .tournament-content__detail__image
      = image_tag "pic4.jpg", class: "tournament-image"
    .tournament-content__detail__date
      %h3 【開催日時】
      %p 1月1日（水）〜1月10日（金）
    .tournament-content__detail__button
      = link_to "大会詳細", "#", class: "tournament-button"
  .tournament-content__detail
    .tournament-content__detail__image
      = image_tag "pic2.jpg", class: "tournament-image"
    .tournament-content__detail__date
      %h3 【開催日時】
      %p 1月10日（金）〜1月20日（月）
    .tournament-content__detail__button
      = link_to "大会詳細", "#", class: "tournament-button"
  .tournament-content__detail
    .tournament-content__detail__image
      = image_tag "pic1.jpg", class: "tournament-image"
    .tournament-content__detail__date
      %h3 【開催日時】
      %p 1月10日（金）〜1月20日（月）
    .tournament-content__detail__button
      = link_to "大会詳細", "#", class: "tournament-button"