.header
  .header-navigation
    .primary__navigation
      .primary__navigation__logo
        = image_tag "logo.jpg", class: "toplogo"
      .primary__navigation__game
        %p ゲーム一覧
      .primary__navigation__tournament
        %p 大会
      .primary__navigation__ranking
        %p ランキング
    .secondary-navigation
      = icon('fas', 'search')
      - if user_signed_in?
        = link_to "新規会員登録", new_user_registration_path, class: "account-new-btn" 
        = link_to "サインアウト", destroy_user_session_path, method: :delete, class: 'account-new-btn'

      - else
        = link_to "新規会員登録", new_user_registration_path, class: "account-new-btn"
        = link_to "サインイン", new_user_session_path, class: "account-new-btn"

.main-contents
  .main-content__recommend
    .main-content__recommend__title
      今月のイベント情報
    .main-content__recommend__first
      ○月○日 ディスガイア大会  優勝賞金：5,000円
    .main-content__recommend__second
      ○月○日 ストリートファイター大会  優勝賞金：:1万円

  .main-content__game
    .main-content__game__title
      ゲーム一覧
    .main-content__game__list
      .main-content__game__list__image
        = image_tag "pic1.jpg", class: "image"
        .main-cotent__game__list__image__title
          タイトル：魔界戦記 ディスガイア
        .main-content__game__list__image__text
          悪魔的やりこみSRPGゲーム。
      .main-content__game__list__image
        = image_tag "pic2.jpg", class: "image"
        .main-cotent__game__list__image__title
          タイトル：ぷよぷよ
        .main-content__game__list__image__text
          株式会社コンパイルが発売した落ち物パズルゲームのシリーズ。 また、このシリーズにブロックとして登場するスライムタイプのモンスターの名前でもある。
      .main-content__game__list__image
        = image_tag "pic3.jpg", class: "image"
        .main-cotent__game__list__image__title
          タイトル：STREET FIGHTER
        .main-content__game__list__image__text
          カプコンが1987年に開発・稼動した2D対戦型格闘ゲーム
      .main-content__game__list__image
        = image_tag "pic4.jpg", class: "image"
        .main-cotent__game__list__image__title
          タイトル：マリオカート
        .main-content__game__list__image__text
          任天堂が開発・発売しているアクションレースゲームのシリーズ