.main-content
  .main-content__top
    %video{src: "assets/mariocart.mp4", frameborder: "0", class: "topvideo", autoplay: true, muted: true, playsinline: true}
    .main-content__explain
      %h3 マリオカート
      %p  ゲームの説明。ゲームの説明。ゲームの説明。ゲームの説明。ゲームの説明。ゲームの説明。ゲームの説明。ゲームの説明。ゲームの説明。
      %h4 広告欄
      .main-content__explain__input
        %input{type: "submit", value: "ゲームダウンロード", class: "download-btn"}
        .main-content__explain__input__mylist
          = icon("fas", "plus")
          %input{type: "submit", value: "マイリスト", class: "mylist-btn"}
        %input{type: "submit", value: "大会参加", class: "tournament-btn"}
    .main-content__game
      %h2 ゲーム一覧
      %ul.main-content__game__list
        %li
        = link_to image_tag("pic1.jpg", class: "image"), games_path(@games)
        %li
        = image_tag "pic2.jpg", class: "image"
        %li
        = image_tag "pic3.jpg", class: "image"
        %li
        = image_tag "pic4.jpg", class: "image"
        %li
        = image_tag "pic5.jpg", class: "image"
        %li
        = image_tag "pic6.jpg", class: "image"
        %li
        = image_tag "pic7.jpg", class: "image"
        %li
        = image_tag "pic8.jpg", class: "image"
        %li
        = image_tag "pic9.jpg", class: "image"
        %li
        = image_tag "pic10.jpg", class: "image"
